body{
  margin: 0px;
  border:0px;
  font-family: Montserrat;
}
#title{
  /*background-color: #ff4c68; */
  color: #fff;
  background-image: url(../images/css4.jpg);
}
.headImagelines1{
font-family: 'Montserrat-Black' 0,900;
font-size: 4rem;
line-height: 1.3;
}
.badde{
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
padding: 3% 15%;
}
#tin{
  font-family:"Ubuntu";
  font-size:2.5rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 4.5rem;
}
.title-images{
  padding-bottom: 5%;
  width: 78%;
  transform: rotate(28deg);
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: Montserrat;
  font-size: 1.2rem;

}
.download-button{
  margin: 5% 3% 5% 0;
}
.allh3{
  font-family: "Montserrat-bold";
  font-size: 2rem;
  font-weight: bold;
}
#features{
  padding: 10% 15%;
}
.feature-box{
  text-align: center;
}
p{
  color:grey;
}
.icon{
  color:#ef8172;
  margin:1rem;

}
.icon:hover{
  color:#ff4c68;
}
#testimonials{
  text-align: center;
  background-color:#ef8172;
  color:white;
}
.carousel{
  padding: 10% 15%;
}
em{
  font-weight: bold;
}
.kukur{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4rem;
}
.pressimages{
  width:15%;
  margin: 20px 20px 50px;
}
#pricing{
  margin-top: 5rem;
  text-align: center;
}
.sassa{
  font-family: "Ubuntu";
  font-style: bolder;
  font-size: 3rem;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-images{
    position: static;
    transform: rotate(0);
  }

}
#cta{
  background-color:#ef8172;
  margin: 7% 0;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;

}
.lastcut{
  font-family: "Montserrat";
  font-size: 4rem;
  font-weight: bolder;
  color: #fff;
  padding-bottom: 2rem;
}
#footerr{
  background-color: #fff;
  text-align: center;
  padding-bottom: 5rem;
}
.nilutpaldev{
  padding: 10px;
padding-bottom: 2%;

}
#ctcc{
  padding-top: 1%;
}
